.container {
  position: fixed;
  bottom: 0;
  left: 32px;
  z-index: 50;
  display: none;
}

@media (min-width: 1024px) {
  .container {
    display: block;
  }
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-6);
}

.link {
  color: var(--color-text-muted);
  transition: all var(--transition-base);
}

.link:hover {
  color: var(--color-primary);
  transform: translateY(-3px);
}

.icon {
  width: 20px;
  height: 20px;
}

.line {
  width: 1px;
  height: 90px;
  background-color: var(--color-text-muted);
}
